body {
    font-family: Helvetica,'Roboto', 'Open Sans', sans-serif;
}

.topIconCont {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 2% 3% 0 0;
    background-position: bottom;
    height: 10vh;
    
}
.topIconExtraWrap {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 12vw;
}
.searchIcon {
    background-image: url("../images/SearchIcon.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 43px;
   
}
.heartIcon {
    background-image: url("../images/heartIcon.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 55px;
    margin-right: 1%;
}
.shoppingBag {
    background-image: url("../images/shopBagIconFinal.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 48px;
}    
.topIcon {
    width: 4vw;
    /* border: 5px solid blue; */
    position: relative;
 
   
}
.bannerCont {
    display: flex;
    justify-content: center;
    height: 15vh;
    position: relative;
    margin-bottom: 5%;
}
.FHbanner {
    background-image: url("../images/F&HBANNERfinal.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 20vh;
    width: 58vw;
}

/* Nathaniel Navbar */
.navigationFH {
    margin-bottom: 4%;
}    
.navBarFH {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-weight: normal;
}
.navbarCont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 53%;
    position: relative;
    left: 1.2%;
}

.navShop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    min-width: 125px;
}
.navMainSelect {
    font-size: 30px;
}
.shopPlus {
    font-size: 1.4em;
}
.navShopSubINActive {
    display: none;
}

.navShopSubINActive:hover {
    display: flex;
    height: auto;
    flex-direction: column;
}

.menu .menu {
    display: none;
}

.menu .menuitem:hover .menu {
    display: block;
    float: left;
    // likely need to set top & left
}
.navSubCont {
    display: flex;
    justify-content: center;
    margin: 2%;
}
.navSubColumn {
    height: 30vh;
    margin: 0 5%;
    text-align: left;
    width: 10vw;
}
.navSubSub {
    text-indent: 10%;
    width: 23vw;
}
.navUnderline {
    /* border-bottom: 1px solid black; */
}

/* Grid...SCRAP??? */
/* .heroGrid {
display: grid;
  margin-top: 5%;
  min-height: 500px;
  height: 95vh;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
  "heroImage quote"
  "heroImage collection"
  "heroImage collection"
}
.heroImage {
    grid-area: heroImage;
  background-image: url("../images/homeHero.png");
  background-size: cover;
  background-position:right;
}
.heroQuote {
    grid-area: quote;
}
.heroCTA {
    grid-area: collection;
} */

.heroCont {
    display: flex;
    flex-direction: row;
    height: 95vh;
    min-height: 700px;
}
.heroRing {
    background-image: url("../images/ringHERO.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100%;
    width: 66%;
    position: relative;
    background-color: blue;
}
.heroRightSect {
    display: flex;
    flex-direction: column;
    width: 34vw;
}
.heroQuote {
    display: flex;
    position: relative;
    height: 35%;
    background-color: #313B36;
    color: white;
    font-style: italic;
    justify-content: center;
    align-items: center;
    font-family: 'Old Standard TT', serif;
    font-weight: lighter;
    font-size: 30px;
    padding: 10%;
}
.openApostSmall {
    height: 4.2em;
    margin-right: 8px;

}
.heroTitle {
    display: flex;
    position: relative;
    height: 65%;
    text-align: right;
}

.heroText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    right: 15%;
 
}
.heroTitle h1 {
    font-family: 'Old Standard TT', serif;
    font-weight: bold;
    font-size: 60px;
    color: #373737;
    margin-bottom: -1%;
}

.heroTitle h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #373737;
}

.heroTitle button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Muli', sans-serif;
    font-size: 24px;
    width: auto;
    height: auto;
    min-width: 260px;
    min-height: 60px;
    font-weight: 500;
    padding: 3% 5%;
    box-shadow: 0px 3px 6px -4px rgba(0,0,0,0.76);
    border: none;

}
.buttonShop {
    background-color:#5D0000;
    color: white;
}
.currentCollectLine {
    width: 440px;
    position: relative;
    color: black;
    height: 15px;
    border-top: 3px solid #373737;
}
.button {
    border-radius: 5px;
}

/* creators */
.creators {
    background-color: #313B36;
    color: white;
    display: flex;
    height: auto;
    min-height: 350px;
    text-align: center;
    justify-content: center;
    position: relative;
    align-items: center;
}

.creatorTextCont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1% 7%;
}

.creatorTextCont p {
    color: white;
    font-family: 'Old Standard TT', serif;
    font-style: italic;
    font-size: 36px;
    display: inherit;
    text-align: left;

}
.creatorOpenApost {
    height: 150px;
    margin-right: 1%;
   
}

.creatorClosedApost {
    height: 150px;
    margin-top: -5%;
    margin-right: 4%;

}

.creatorLinkText {
    position: absolute;
    bottom: 11%;
    right: 8%;
    padding-bottom: 6px;
    font-family: 'Roboto';
    font-size: 24px;
    color: #AF9574;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 335px;
}
.meetCreators {
    border-bottom: 1px solid #AF9574;
}
.creatorChevron {
    height: 30px;
}

.homeCarousel {
   
}
.carouselTextCont {
z-index: 500;
    position: absolute;
    top: 12%;
}

.classicButton {
    background-color: #313B36;
    border: none;
    font-family: 'Muli', sans-serif;
}
/* .classicLine {
    position: relative;
    color: black;
    height: 15px;
    border-top: 3px solid black;
} */

.classicHero {
    justify-content: center;
    align-items: flex-start;
    left: 25%;
}


.caroArrow {
    background-size: contain;
    position: relative;
    height: 72px;
    width: 95px;
    top: 15%;
}

.caroselLeftArrow {
    background-image: url("../images/carouselLeftArrow.png"); 
}

.caroselRightArrow {
    background-image: url("../images/carouselRightArrow.png");
}




/* Featured Item Cards */
.featureCardCont {
    margin: 8% 0 15px;
    font-family: 'Roboto';
}
.featuredCardRow {
    display: flex;
    height: 60vh;
    justify-content: space-evenly;
    padding: 0px 5%;
    /* margin: 1% 0 10% 0; */
}

.featuredCardCont {
    display: flex;
    flex-direction: column;
    /* height: 65vh;
    width: 20vw; */
}

.cardItemTextCont {
    padding: 10% 0;
}
.cardItemTextCont h3 {
    font-size: 24px;
}

.cardItemTextCont h4 {
    font-size: 18px;
}

.featuredCard {
    width: auto;
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    min-height: 298.5px;
    min-width: 279.5px;
}

.featuredCard1 {
    background-image: url("../images/featuredItem.png");
}
.featuredCard2 {
    background-image: url("../images/featuredItem.png");
}
.featuredCard3 {
    background-image: url("../images/featuredItem.png");
}
.featuredCard4 {
    background-image: url("../images/featuredItem.png");
}





.cardLinkCont {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 10vw;
}

.cardLinkUnderline {
    border-bottom: 1px solid black;
    margin-right: 10%;
}



/* Social Cards */
.cardHeading {
      display: flex;
    justify-content: space-between;
    /* padding: 1% 6%; */
    font-family: 'Roboto';
    font-size: 24px;
    align-items: center;
    margin: 0 7% 3%;

}
.socialCardCont {
    margin: 100px 0% 200px;
    display: flex;
    flex-direction: column;
}


.followUs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50vw;
}
.instagramLogo {
    background-image: url("../images/InstagramLogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.5em;
    margin-right: 2%;

}

.socialCardRow {
    display: flex;
    height: auto;
    justify-content: space-evenly;
}
.socialCardRL {
    width: 20vw;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 545px;
    min-width: 385px;
}



.socialCardCenter {
    background-size: cover;
    background-repeat: no-repeat;
    width: 30vw;
    min-height: 545px;
    min-width: 462px;
}


.socCard1 {
    background-image: url("../images/socialLeftCard.png");
 
}
.socCard2 {
    background-image: url("../images/socialCardCenter.png");
 
}
.socCard3 {
    background-image: url("../images/socialRightCard.png");

}

/* custom made */
.customMade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
}

.customTitle {
    border: 1px solid black;
    height: 10vh;
    margin-bottom: 3%;
}

.customDropDown {
    border: 1px solid black;
    height: auto;
    width: auto;
    min-width: 830px;
    padding: 15px;
    display: flex;
    align-items: center;
    font-size: 24px;
    justify-content: center;
}

.didintFind {
    font-size: 35px;
    font-family: 'Muli', sans-serif;
    position: relative;
    font-weight: 300;
}

.customDropButton {
    font-size: 42px;
    font-family: 'Muli', sans-serif;
    position: relative;
    left: 2%;
    font-weight: 600;
}

.back2Top {
    position: relative;
    height: 65px;
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: center;
    align-items: flex-end;
    margin-top: 150px;
    cursor: pointer;
}

.backAlign {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 125px;
}
.back2TopButton {
    height: 5vh;
    height: auto;
    width: auto;
    position: relative;
    bottom: 12%;
}
.back2Link {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}


.back2TopText {
    text-align: center;
    color: black;
    font-size: 14px;
    font-family: 'Roboto';
    text-decoration: underline;
}


.footer {

    margin-top: 5%;

}

.borderTopLine {
    border-top: 1px solid black;
    position: relative;
    left: 10%;
    width: 80%;
}

.newsletter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.newsletter h3 {
    font-family: 'Old Standard TT', serif;
    margin-bottom: 2%;
    font-size: 50px;
}
.newsletterInfoCont {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 60vw;
}

.alignNewsForm {
    display: flex;
    flex-direction: row;
    height: 60px;

}

.newsletterEmail {
    border: 1px solid grey;
    position: relative;
    height: 50px;
    width: 300px;
}
.newsSubscribeButton {
    border: 1px solid grey;
    color: grey;
}



/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid black; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-right: 12%;
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family: 'Muli', sans-serif;
    font-size: 24px;
    font-weight: 500;

}
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: white;
    color: #023118;
    border: 1px solid black;
    padding: 12px 20px;
    cursor: pointer;
    -webkit-box-shadow: 1px 2px 8px -4px rgba(0,0,0,0.76); 
    box-shadow: 1px 2px 8px -4px rgba(0,0,0,0.76);
    width: 35vw;
    font-family: 'Muli', sans-serif;
    font-size: 24px;
    font-weight: 500;
}


  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: grey;
  }

.footerPt2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 44vh;
    justify-content: space-evenly;
    /* background-color: rgba(55,55,55,0.25); */

}


.fossilFooter {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 1%;
    bottom: 7%;
}

.footerLogo {
    background-image: url("../images/footerLogoFINAL.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 18vw;
}
.footerContact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer2Text {
    position: relative;
    right: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;
    height: 200px;
}

.footerInstagram {
    height: 55px;
    width: 55px;
    background-image: url(../images/InstagramLogo.png);
    background-size: cover;
    background-repeat: no-repeat;

}


.footerTextBox {
    border-left: 5px black;
    border-right: 5px black;
}

.footerVertLine {
    border-left: 3px solid black;
    height: 65%;
    margin-left: -3px;

}

  
